<div class="video-wrapper">

  <div class="center small-video-row">

    <div>
      <div class="video-overlay">
        <img src="assets/img/leaves_small.jpg" alt="Leaves">
      </div>

      <div class="small-video-text">
        Leaves
      </div>

    </div>


    <div>

      <div class="video-overlay">
        <img src="assets/img/tabby_small.jpg" alt="Tabby">
      </div>

      <div class="small-video-text">
        A wall of oyster shells
      </div>

    </div>

    <div>

      <div class="video-overlay">
        <img src="assets/img/bark_small.jpg" alt="Bark">
      </div>

      <div class="small-video-text">
        Bark
      </div>


    </div>


    <div>

      <div class="video-overlay">
        <img src="assets/img/birdprints_small.jpg" alt="Birdprints">
      </div>

      <div class="small-video-text">
        <p>
          Birdprints in the Snow
        </p>
      </div>


    </div>


    <div>

      <div class="video-overlay">
        <img src="assets/img/foam_small.jpg" alt="Foam">
      </div>

      <div class="small-video-text">
        Foam
      </div>


    </div>


  </div>


</div>
