<head>
  {% if page.title %}
    <title>{{ page.title }} | Photo Site</title>
  {% else %}
    <title>Karrys Photography</title>
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="George Karrys Photography Site">
  {% endif %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
<meta name="author" content="">
<link href="assets/css/reset.css" rel="stylesheet">
<link href="assets/css/layout.css" rel="stylesheet">
</head>
