header div
  {
    float: left;
    margin:0 0 30px 0;
    padding: 5px 0 0 0 ;
    width: 100%;
  }


/* banner styles */
.banner
{
  width: 50em;
  margin: 0 auto;
  background: #fff;
}

.banner h1
{
  font-size: 4em;
  text-align: center;

}

.image
{
  margin: 0;
  padding: 2em 2em;
  color: #fff;
  background: url('assets/img/banner.jpg') no-repeat center;
}

.links
{
  width: 50em;
  margin: 0;
  background: #754b39;
  padding: 2em 2em;
}

.links ul
{
  list-style: none;
}

.links a
{
  color: #fff;
}
 @media (max-width: 800px){
   .banner
   {
     width: auto;
     margin: 0 auto;
     background: #fff;
   }

   .links
   {
     width: auto;
     margin: 0;
     background: #754b39;
     padding: 2em 2em;
   }
 }
